body {
  background-image: url(../img/concrete-texture.png);
}

.text-holder {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  height: 100vh;
  align-content: center;
}

.text-holder__text {
  width: 100%;
  text-align: center;
  font-family: 'Oswald', sans-serif;

  color: rgba(255, 255, 255, 0.01);
  font-size: 100px;
  text-shadow: 1px 2px 4px #ffffff80, 0px 0px 0px #00000075, 0px 0px 2px white;
  margin: 10px 0;
}
.text-holder__text--secondary {
  font-family: 'Open Sans', sans-serif;
  font-size: 40px;
}
